.cover__background {
  width: 100%;
  min-height: 740px;
  background: linear-gradient(#2A2C2F66, #2A2C2F66), url(cover-trains.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__background:hover {
  background: linear-gradient(#2A2C2FCC, #2A2C2FCC), url(cover-trains.jpg);
  background-size: cover;
  background-position: center;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (min-width: 570px) and (max-width: 1023px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 569px) {
  .cover__background {
    min-height: 200px;
  }
}